* {
  padding: 0;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.sky,
.road,
.grass {
  position: relative;
}
.sky {
  background-color: lightblue;
  height: 40%;
}
.grass {
  background-color: green;
  height: 30%;
}
.road {
  background-color: dimgrey;
  height: 30%;
  border-top: 10px solid grey;
  border-bottom: 10px solid grey;
  width: 100%;
}
.lines {
  position: absolute;
  border: 5px dashed white;
  top: 40%;
  height: 0;
}
.bikercontrol {
  height: 80px;
  width: 80px;
  position: absolute;
  bottom: 20px;
  animation-name: myanimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.bikercontrol1 {
  height: 60px;
  width: 60px;
  position: absolute;
  top: -3px;
  animation-name: myanimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 1s;
}
@keyframes myanimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(1250px);
  }
}
.imagecontroller {
  height: 200px;
  width: 200px;
  background-color: lightblue;
  position: absolute;
  animation-name: myanimation;
  animation-duration: 4s;
  animation-iteration-count:infinite;
  animation-timing-function: linear;
  animation-delay:3s
}
